<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/style.css" rel="stylesheet">
<title>Counters</title>
</head>
<body>
	<h1 class="titre">COUNTERS</h1>
	<br />
	<section class="section">
		<div class="liste">

			<div>
				<span th:if="${user} != null"></span>
				<h2>
					<span th:text="'WELCOME, '+ ${user.prenom} + ' ' + ${user.nom}"></span>
				</h2>
			</div>

			<ul th:if="${counters.empty}">
				<li colspan="3" class="count">No counter Available</li>
			</ul>

			<ul>
				<li th:each="counter : ${counters}" class="count" style=>
					<form method="POST" action="/counter/web/exec" class="form" th:styleappend="'background-color:'+ ${counter.color}+';'">
						<input type="hidden" name="id" th:value="${counter.id}" /> 
						<input class="button" name="button" type="submit" value="-" /> 
						<span th:text="${counter.id}" class="id"></span> 
						<span th:text="${counter.title}"></span> 
						<span th:text="${counter.count}"></span>
					
						<input class="button" name="button" type="submit" value="+" /> 
						<input class="button" name="button" type="submit" value="del" />

					</form>
				</li>
			</ul>

		</div>
		<br />

		<form method="POST" action="/counter/create" class="form">
			Title: <input type="text" placeholder="title" name="title"
				class="title" />


			<div class="panel">
				<label>Pick a Color</label>
				<div>
				  <input type="radio" name="colors" id="colors1" value="#5484ED"/>
		          <label for="colors1" class="colors1"></label>
		          <input type="radio" name="colors" id="colors2" value= "#A4BDFC"/>
		          <label for="colors2" class="colors2"></label>
		          <input type="radio" name="colors" id="colors3" value= "#46D6DB"/>
		          <label for="colors3" class="colors3"></label>
		          <input type="radio" name="colors" id="colors4" value= "#7AE7BF"/>
		          <label for="colors4" class="colors4"></label>
		          <input type="radio" name="colors" id="colors5" value= "#51B749" />
		          <label for="colors5" class="colors5"></label>
		          <input type="radio" name="colors" id="colors6" value="#FBD75B"/>
		          <label for="colors6" class="colors6"></label>
		          <input type="radio" name="colors" id="colors7" value= "#FFB878"/>
		          <label for="colors7" class="colors7"></label>
		          <input type="radio" name="colors" id="colors8" value="#FF887C"  />
		          <label for="colors8" class="colors8"></label>
		          <input type="radio" name="colors" id="colors9" value="#DC2127" />
		          <label for="colors9" class="colors9"></label>
		          <input type="radio" name="colors" id="colors10" value="#DBADFF"/>
		          <label for="colors10" class="colors10"></label>
		          <input type="radio" name="colors" id="colors11" value="#E1E1E1" />
		          <label for="colors11" class="colors11"></label>
				</div>
			</div>


			<input class="create" type="submit" value="Create" />
		</form>

	</section>

    <script th:inline="javascript">
 	var button = document.getElementById('speak');
    var speechMsgInput = document.getElementById('speech-msg');
    function speak(text) {
    	// Create a new instance of SpeechSynthesisUtterance.
    	var msg = new SpeechSynthesisUtterance();
    	// Set the text.
    	msg.text = text;
    	// Queue this utterance.
    	window.speechSynthesis.speak(msg);
    }
    
    // Set up an event listener for when the 'speak' button is clicked.
    button.addEventListener('click',
    		function(e) { if (speechMsgInput.value.length > 0) { speak(speechMsgInput.value); }}
    );
	</script>
	
</body>
</html>