<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="/css/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Counters</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
  	<a class="navbar-brand" href="#">Counters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item dropdown">
        <!-- bloc menu déroulant -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Service 1</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
  </nav>
  <br/>
  
  <section class="container">
		<div class="liste">


			<div>
				<span th:if="${user} != null"></span>
				<h2>
					<span th:text="'WELCOME, '+ ${user.prenom} + ' ' + ${user.nom}" class="welcome"></span>
				</h2>
			</div>

			<ul th:if="${counters.empty}">
				<li colspan="3" class="count">No counter Available</li>
			</ul>

			<ul>
				<li th:each="counter : ${counters}" class="count">
					<form method="POST" action="/counter/exec" class="form" style="overflow-x:auto;" th:styleappend= "'background-color : ' + ${counter.color}+';'">
						<input type="hidden" name="id" th:value="${counter.id}" /> 
						<input type="hidden" name="title" th:value="${counter.title}" /> 

						<input class="button" name="button" type="submit" value="-" th:id="'minus'+${counter.id}" />

							<span th:text="${counter.id}" class="id"></span> 
							<span th:text="${counter.title}" type="hidden"></span>
							<span th:text="${counter.count}"></span>
						
						<input class="button" name="button" type="submit" value="+" th:id="'plus'+${counter.id}" /> 
						<input class="button" name="button" type="submit" value="del" />
						 
					</form>
 				</li>
			</ul>

		</div>
		<br />

    <script th:inline="javascript">

    function speak(text1, text2) {
    	var msg = new SpeechSynthesisUtterance(); // Create a new instance of SpeechSynthesisUtterance.
    	msg.text = text1 + text2; // Set the text.
    	window.speechSynthesis.speak(msg); // Queue this utterance.
    }
    
    
    // Set up event listeners for when the plus or minus buttons are clicked.

    /*<![CDATA[*/
   		/*[# th:each="counter : ${counters}"]*/
   		{
	    	var plus = document.getElementById('plus'+/*[[${counter.id}]]*/);
	    	plus.addEventListener('click', function(e) { speak( /*[[${counter.count + 1}]]*/, /*[[${counter.title}]]*/ ); } );
	    	
			var minus = document.getElementById('minus'+/*[[${counter.id}]]*/);
			minus.addEventListener('click', function(e) { speak( /*[[${counter.count} - 1]]*/, /*[[${counter.title}]]*/); } );
   		}	
    	/*[/]*/
	/*]]>*/
    
   	</script>

		<form method="POST" action="/counter/create" class="form">
			Title: <input type="text" placeholder="title" name="title"
				class="title" />


			<div class="panel">
				<label>Pick a Color</label>
				<div>
				  <input type="radio" name="colors" id="colors1" value="#5484ED"/>
		          <label for="colors1" class="colors1"></label>
		          <input type="radio" name="colors" id="colors2" value= "#A4BDFC"/>
		          <label for="colors2" class="colors2"></label>
		          <input type="radio" name="colors" id="colors3" value= "#46D6DB"/>
		          <label for="colors3" class="colors3"></label>
		          <input type="radio" name="colors" id="colors4" value= "#7AE7BF"/>
		          <label for="colors4" class="colors4"></label>
		          <input type="radio" name="colors" id="colors5" value= "#51B749" />
		          <label for="colors5" class="colors5"></label>
		          <input type="radio" name="colors" id="colors6" value="#FBD75B"/>
		          <label for="colors6" class="colors6"></label>
		          <input type="radio" name="colors" id="colors7" value= "#FFB878"/>
		          <label for="colors7" class="colors7"></label>
		          <input type="radio" name="colors" id="colors8" value="#FF887C"  />
		          <label for="colors8" class="colors8"></label>
		          <input type="radio" name="colors" id="colors9" value="#DC2127" />
		          <label for="colors9" class="colors9"></label>
		          <input type="radio" name="colors" id="colors10" value="#DBADFF"/>
		          <label for="colors10" class="colors10"></label>
		          <input type="radio" name="colors" id="colors11" value="#E1E1E1" />
		          <label for="colors11" class="colors11"></label>
				</div>
			</div>


			<input class="create" type="submit" value="Create" />
		</form>

	</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>