<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Counters</title>
	<style>
		body {
			margin: 50px;
		}
		table {
			border: 1px solid #000;
		}
	</style>
</head>
<body>
	<h1>Counters : test page</h1>

	<h2>Counter List</h2>
	<br />

	<table  class="liste">	
		<thead>
			<tr>
				<th>Id</th>			
				<th>Title</th>
				<th>Count</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${counters.empty}">
				<td colspan="3">No counter Available</td>
			</tr>
			<form method="POST" action="/counter/web/exec">
				<tr th:each="counter : ${counters}">
			
					<td><span th:text="${counter.id}"> id </span></td>
					<td><span th:text="${counter.title}" name="title"> title </span></td>
					<td><span th:text="${counter.count}"> count </span></td>
			
					<td><span class="button" name="button"  type="submit" value="+"/></td>
								
				</tr>
			</form>	
			</table>
						
			  <h2>Test REST API</h2>
              	<form method="POST" action="/counter/web/create">
              		Title: <input type="text" placeholder="title" name="title" />
              		<input type="submit" value="Create" />
              	</form>
              	<br />
              	<form method="POST" action="/counter/web/delete">
              		Id: <input type="text" placeholder="id" name="id" />
              		<input type="submit" value="Delete" />
              	</form>
              	<br />
              	<form method="POST" action="/counter/web/exec">
              		Title: <input type="text" placeholder="title" name="title" />
              		Action: <input type="text" placeholder="action" name="action" />
              		<input type="submit" value="Submit" />
              	</form>
		</tbody>

</body>
</html>