<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="/css/userlist.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Admin Users</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  	<a class="navbar-brand" href="#">Counters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="#">Counters</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Statistics</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Log out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item dropdown">
        <!-- bloc menu déroulant -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Service 1</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
  </nav>
  <br/>
  
	<h1>USERS</h1>
	<br />

	<div class="container">
	
			<ul th:if="${users.empty}">
				<li colspan="7">No user</li>
			</ul>
			
<!-- 
						<input type="hidden" name="id" th:value="${user.id}" />
 -->
			<table frame="box" class="table table-striped table-user">
				<tr>
					<th> Last name </th>
					<th> First name </th>
					<th> Username </th>
					<th> Password </th>
					<th> Action </th>
					<th> Action</th>
				</tr>
				
				<tr th:each="user : ${users}" class="count">
					<td th:text="${user.nom}" />
					<td th:text="${user.prenom}"/>
					<td th:text="${user.username}"/>
					<td th:text="${user.password}"/>
						
					<td>
						<form method="POST" action="/user/deleteuser" class="form">
						<input type="hidden" name="username" th:value="${user.username}" />
						<input class="button" name="button" type="submit" value="delete" />		
						</form>
					</td>	

					<td>
						<form method="POST" action="/user/details" class="form">
						<input type="hidden" name="username" th:value="${user.username}" />
						<input class="button" name="button" type="submit" value="counters" />		
						</form>
					</td>	
					
 				</tr>
			</table>
			
 	</div>
	<br/>
	
	
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>