<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Admin Users</title>
</head>
<body>
	<h1>USERS</h1>
	<br />

	<div class="liste">
	
			<ul th:if="${users.empty}">
				<li colspan="7">No user</li>
			</ul>
			
<!-- 
						<input type="hidden" name="id" th:value="${user.id}" />
 -->
			<table frame="box">
				<tr>
					<th> Last name </th>
					<th> First name </th>
					<th> Username </th>
					<th> Password </th>
				</tr>
				
				<tr th:each="user : ${users}" class="count">
					<td th:text="${user.nom}" />
					<td th:text="${user.prenom}"/>
					<td th:text="${user.username}"/>
					<td th:text="${user.password}"/>
						
					<td>
						<form method="POST" action="/user/delete" class="form">
						<input type="hidden" name="username" th:value="${user.username}" />
						<input class="button" name="button" type="submit" value="delete" />		
						</form>
					</td>	

					<td>
						<form method="POST" action="/user/details" class="form">
						<input type="hidden" name="username" th:value="${user.username}" />
						<input class="button" name="button" type="submit" value="counters" />		
						</form>
					</td>	
					
 				</tr>
			</table>
			
 	</div>
	<br/></body>
</html>