<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="/css/userlist.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Admin Users</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand nav-title" href="#">COUNTERS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown navbar">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Statistics</a>
          <a class="dropdown-item" href="#">History</a>
          <a class="dropdown-item" href="#">Goals</a>
          <a class="dropdown-item" href="#">Settings</a> 
          <a class="dropdown-item" href="/user/logout">Logout</a>
          <a class="dropdown-item" href="#">About us</a>
          <a class="dropdown-item" href="#">Contact</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
  <br/>
  
	<h1>USERS</h1>
	<br />

	<div class="container-fluid">
	
			<ul th:if="${users.empty}">
				<li colspan="7">No user</li>
			</ul>
			
<!-- 
						<input type="hidden" name="id" th:value="${user.id}" />
 -->
			<table frame="box" class="table-responsive{-sm|-md|-lg|-xl} table-striped table-user">
				<tr>
					<th> Last name </th>
					<th> First name </th>
					<th> Username </th>
					<th> Password </th>
					<th> Action </th>
					<th> Action</th>
				</tr>
				
				<tr th:each="user : ${users}" class="count">
					<td th:text="${user.nom}" />
					<td th:text="${user.prenom}"/>
					<td th:text="${user.username}"/>
					<td th:text="${user.password}"/>
						
					<td>
						<form method="POST" action="/user/deleteuser" class="form">
						<input type="hidden" name="username" th:value="${user.username}" />
						<input class="button" name="button" type="submit" value="delete" />		
						</form>
					</td>	

					<td>
						<form method="POST" action="/user/details" class="form">
						<input type="hidden" name="username" th:value="${user.username}" />
						<input class="button" name="button" type="submit" value="counters" />		
						</form>
					</td>						
 				</tr>
			</table>
		</div>
		<br/>
		
	<div class="container">
		
		<br/>
		<div> 
	  		  <h1>COUNTERS FOR USERS</h1>
	  	</div>
		<br/>
			<ul th:if="${ccounters.empty}">
				<li colspan="7">No counters</li>
			</ul>
			
				<table th:unless="${ccounters.empty}" frame="box" class="table-responsive{-sm|-md|-lg|-xl} table-striped table-counters">
				<tr>
					<th> Id </th>
					<th> Title </th>
					<th> Count </th>
					<th> Color </th>
				</tr>
				
				<tr th:each="counter : ${ccounters}" class="count" th:styleappend="'background-color:'+ ${counter.color}+';'">
					<td th:text="${counter.id}"/>
					<td th:text="${counter.title}" />
					<td th:text="${counter.count}"/>
					<td th:text="${counter.color}"/>
 				</tr>
			</table>
					
 	</div>
	<br/>
	
	
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>