body{	
	background-color: #3A5A98;
	color:white;	
	font-family:"Courier New", Courier, monospace;
	text-align:center;
}
.user{
	list-style-type:none;
	margin-left:-50px;
}
.slogan{
	text-align: center;
	font-family:"Courier New", Courier, monospace;
	color:white;	
	font-size:30px;
}
.img-logo{
	margin-left:-50px;
}