*{
	background-color: #3A5A98;
	color:white;	
	font-size:15px;
	font-family:"Courier New", Courier, monospace;
}
.title{
	font-size: 45px;
	text-align: center;
	padding-top:20px;
	padding-bottom:50px;
}
.enterButton{
	margin-top:15px;
}
.img-logo{
	max-width:100%;
	width:300px;
	padding-top:30px;
	margin-left: auto;
    margin-right: auto;
    width: 6em
}
.form-create{
	justify-content:center;
	max-width:100%;
	margin-left:40%;
}
