body{
	text-align:center;
	font-family:"Courier New", Courier, monospace;
	background-color: #3A5A98;
	color:white;
}
.navbar{
	color:#FFFFFF;
	font-family:"Courier New", Courier, monospace;
	font-size:25px;
	align-content:right;
}
.nav-title{
	font-size:30px;
}
.navbar-back{
	background-color:#343940;
}
.text{
	color:#FFFFFF;
}
.container{
	justify-content:center;
	flex-direction:column;
}

.button{
	border-radius: 3em;
	border:0.5px solid #ccc;	
}
.table-user, .table-counters{
	width:50%;
	margin:auto;
	background:white;
	color:black;
}
