body{
	background-color: #3A5A98;
	color:white;	
	font-family:"Courier New", Courier, monospace;
	text-align:center;

}
.container{
	margin-top:40px;
	font-size:14px;
}
.img-logo{
	max-width:100%;
	width:300px;
	padding-top:30px;
}
.createButton{
	margin-top:60px;
	float:left;
}
.submitButton{
	margin-top:12px;
}
.form, .inputbox{
	font-size:18px;
}
.identification{
	font-size:25px;
}
